@model Twitter.Web.Models.BindingModels.AddTweetBindingModel
<div class="row">
    <div class="modal-body">
        @using (Html.BeginForm("Add", "Tweets", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.AntiForgeryToken()

            @Html.EditorFor(m => m.Content)
            @Html.EditorFor(m => m.PageUrl)
            <input type="submit" value="Tweet" class="btn btn-primary"/>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}