@using Microsoft.AspNet.Identity
@using Twitter.Common
@{
    ViewBag.Title = "Home";
}
<h1>@TempData[GlobalConstants.TempMessageKey]</h1>
<h2>
    <span class="glyphicon glyphicon-home"></span> Hello
</h2>

<div>
    @Ajax.ActionLink("Tweet", "Add", "Tweets", null, new AjaxOptions { UpdateTargetId = "addTweetContainer", InsertionMode = InsertionMode.Replace, OnComplete = "OnAjaxRequestCompleteShowAdd" }, new { @class = "btn btn-info", id = "addTweetBtn" })
</div>
@{
    Html.RenderAction("FollowedUsersTweets");
}

@section scripts{
    @Scripts.Render("~/bundles/customScripts")
}