@using System.Globalization;

@model Twitter.Web.Models.ViewModels.PagedNotificationViewModel

<div class="row">
    <div class="col-md-12">
        <div>@Model.Content</div>
        <div>@Model.NotificationKind</div>
        <div>@Model.Date</div>
    </div>
</div><br />

