@model string
<div class="row">
    <div class="col-md-12">
        @Html.LabelFor(m => m, new { @class = "form-control" })
        @Html.TextBoxFor(m => m, new { @class = "form-control" })
    </div>
    <div>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>